{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block titulo %} Blog do Portal GP1 {% endblock titulo %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static "css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/blog.css" %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static "js/ie-emulation-modes-warning.js" %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/">Home</a>
          <a class="blog-nav-item" href="{% url 'contato:informacoes' %}">Contato</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Blog do Portal GP1</h1>
        <p class="lead blog-description">A notícia em primeira mão!</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          {% block posts %}
              
          {% endblock posts %}

          
        </div><!-- /.blog-main -->

        <!-- sidebar.html -->
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Sobre</h4>
            <p>Aqui uma pequena biografia sobre o criador do Blog, isso é importante, pois assim podemos saber se devemos ou não confiar nas notícias postadas!</p>
          </div>
          <div class="sidebar-module">
            <h4>Categorias</h4>
            <ol class="list-unstyled">
              {% for c in categorias %}
              <li><a href="{% url 'posts:posts_por_categoria' c.id %}">{{ c.nome }}</a></li>
              {% endfor %}
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Siga-nos</h4>
            <ol class="list-unstyled">
              <li><a href="https://twitter.com/portalgp1" target="_blank">Twitter</a></li>
              <li><a href="https://www.facebook.com/PortalGP1" target="_blank">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Todos os direitos reservados <a href="http://gp1.com.br" target="_blank">Portal GP1</a> - Desenvolvido por: <a href="">Ivan Violão</a>.</p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
  </body>
</html>
